.footer {
    background-color: var(--main-color);
    color: var(--white-color);
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 20px;
    gap: 20px;
}

/* .footer .logo {
    width:  200px;
    height: 100px;

    border: red 1px solid;
} */

.footer-section {
    flex: 1;
    min-width: 220px;
    margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: var(--color-heading);
}

.footer-section p {
    color: var(--white-color);
}

.footer-section ul {
    list-style: none;
    padding: 0;

}

.footer-section ul li a {
    color: var(--white-color);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    gap: 10px;
}

.footer-section ul li a:hover {
    color: #facc15;
}

.footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: #000;
    font-size: 14px;
}

:root {
    --main-color: #0090f0;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --color-heading: #253237;
    --border-color: #d6d6d6d5;

}