.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--white-color);
  color:var(--main-color);
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 1000;
  border: 1px solid var(--main-color);
}

.scroll-to-top:hover {
  background-color: var(--main-color);
  transform: translateY(-4px);
  color: var(--white-color);
}

:root{
    --main-color:   #0090f0;
    --p-color:#7b7b7b;
    --bg-color:#f3f3f3;
    --white-color:#fff;
    --color-heading:#253237;
    --border-color:#d6d6d6d5;

}