root {
    --main-color: #0090f0;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --color-heading: #253237;
    --border-color: #d6d6d6d5;
}

.slide_product {
    padding: 50px 0;
}

.top-slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    padding: 15px 20px 20px 0;
}

.top-slide::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--main-color);
    bottom: -1px;
}

.top-slide h2 {
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 10px;
    text-transform: capitalize;
}


/* product */
.product .card {
    width: 250px;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 25px 15px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;

}


.product .card:hover {
    border-color: var(--main-color);
    box-shadow: 10px 10px 15px #94949423 ;
}


.card .img-product {
    position: relative;
    height: 180px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card .img-product img {
    width: auto;
    height: 160px;
}

.card .name-product {
    margin-bottom: 10px;
    color: var(--color-heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card .description {
    margin-bottom: 10px;
    color: var(--p-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card .stars {
    margin: 15px 0;
    display: flex;
    gap: 5px;

}

.card .stars svg {
    font-size: 18px;
    fill: gold;

}

.card .price {
    font-weight: bold;
    font-size: 20px;
}
.card .icons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
}
.card:hover .icons{
    right: 20px;
}
.card .icons span{
    width: 40px;
    height: 40px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}