.hero {
    position: relative;
    margin-bottom: 80px;
    margin-top: 20px;
}


.swiper-slide .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;

}

.swiper-slide .content h4 {
    font-size: 1vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.4vw;


}

.swiper-slide .content h3 {
    font-size: 3vw;
    text-transform: capitalize;
    font-weight: bolder;
    margin-bottom: 0.30px;
    color:var(--main-color);
    line-height: 1.1;
}

.swiper-slide .content p {
    font-size: 1.1vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}


