/* From Uiverse.io by Nawsome */
.loader {
    margin: 50px 0;
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #e3e3e3;
    overflow: hidden;
}

.loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg,
            rgba(227, 227, 227, 0) 0%,
            rgba(227, 227, 227, 0) 40%,
            rgba(227, 227, 227, 0.5) 50%,
            rgba(227, 227, 227, 0) 60%,
            rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader .wrapper>div {
    background-color: #cacaca;
}

.loader .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.loader .button {
    display: inline-block;
    height: 32px;
    width: 75px;
}

.loader .line-1 {
    position: absolute;
    top: 50px;
    left: 180px;
    height: 20px;
    width: 150px;
}

.loader .line-2 {
    position: absolute;
    top: 80px;
    left: 180px;
    height: 20px;
    width: 250px;
}
.loader .line-22 {
    position: absolute;
    top: 120px;
    left: 180px;
    height: 20px;
    width: 350px;
}

.loader .line-3 {
    position: absolute;
    top: 200px;
    left: 0px;
    height: 20px;
    width: 100%;
}

.loader .line-4 {
    position: absolute;
    top: 240px;
    left: 0px;
    height: 20px;
    width: 92%;
}
.loader .line-5 {
    position: absolute;
    top: 280px;
    left: 0px;
    height: 20px;
    width: 92%;
}
.loader .line-6 {
    position: absolute;
    top: 320px;
    left: 0px;
    height: 20px;
    width: 92%;
}
.loader .line-7 {
    position: absolute;
    top: 360px;
    left: 0px;
    height: 20px;
    width: 92%;
}

@keyframes gradient-animation_2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}