@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* font-family: "DM Sans", sans-serif;
    font-family: "Inter", sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}
body {
  background: #fff;
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: "DM Sans", sans-serif;
}
span {
  color: var(--main-color);
}
p {
  color: var(--p-color);
}
input,
select,
button,
textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-heading);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
.btn {
   padding: 10px 25px;
   text-transform: capitalize;
   cursor: pointer;
   background: var(--main-color);
   color: var(--white-color);
   border-radius: 15px;
   display: flex;
   gap: 10px;
   transition: .3s;
   align-items: center;
   width: max-content;
}
.btn:hover{
scale: 1.1;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: var(--white-color);

}
nav{
  padding-top:150px;
}

/* toast-wrapper */
.toast-wrapper{
  display: flex;
  align-items: center;
  gap: 30px;
  min-width: 250px;
  min-height: 40px;
}
.img-toast{
  width: auto;
  height: 100px;
  object-fit: cover;
}
.toast-contact{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.toast-contact strong{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.toast-contact .btn{
  margin-top: 5px;
  font-size: 13px;
}