:root{
    --main-color:   #0090f0;
    --p-color:#7b7b7b;
    --bg-color:#f3f3f3;
    --white-color:#fff;
    --color-heading:#253237;
    --border-color:#d6d6d6d5;

}

.top-header .container{
    display:flex;
    align-items: center;
    justify-content:space-between ;
    padding: 15px 0;
}
.top-header .logo{
    width: 160px;
}

.top-header .search_box{
    width: 500px;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border-radius: 30px;
    border: 1px solid var(--main-color);
}
.top-header .search_box input{
    height: 45px;
    width: 440px;
    padding: 5px 15px 5px 20px;
    background: var(--bg-color);
    border-radius: 30px 0 0 30px;
}
.top-header .search_box button{
    height: 45px;
    width: 60px;
    font-size: 18px;
    cursor: pointer;
    background: var(--main-color);
    border-radius: 0 30px 30px 0;
}
.top-header .search_box button svg{
    fill: var(--white-color);
}
.top-header .header_icons{
    display: flex;
    gap: 30px;
}
.top-header .header_icons .icon{
    position: relative;
    cursor: pointer;
}
.top-header .header_icons .icon svg{
    font-size: 30px;
}
.top-header .header_icons .icon .count{
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--main-color);
    font-size: 11px;
    color: var(--white-color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
}

 /* start btn_header/ */

.btm_header{
    background:var(--main-color) ;
}
.btm_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
}
.btm_header .container .nav{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
    
}
.btm_header .container .nav .category-nav{
    width: 220px;
    height: 100%;
    position: relative;
}
.btm_header .category-nav .category-nav-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 100%;
    left: 0;
    background: var(--white-color);
    border: 1px solid #999;
    border-top: 0;
   max-height: 400px;
   overflow-y: auto;
   clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
   transition: 0.4s ease-in-out ;
   z-index: 10;
   
}
.btm_header .category-nav .category-nav-list.active{

   clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
   
}
.btm_header .category-nav .category-nav-list a{
    padding: 15px 10px;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
}
.btm_header .category-nav .category-nav-list a:last-child{
    border-bottom: 0;
}
.btm_header .category-nav .category_btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    padding: 0 15px;
    cursor: pointer;
}
.btm_header .category-nav .category_btn svg{
    fill: var(--white-color);

}
.btm_header .category-nav .category_btn p{
    color: var(--white-color);
    font-weight: 600;
    font-size: 15px;
    
}
.btm_header .nav_link{
    display:flex ;
    height: 100%;
}
.btm_header .nav_link li{
    display:flex ;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}
.btm_header .nav_link li.active{
    background:#0079ca;
}
.btm_header .nav_link li a{
    color: var(--white-color);
}
.btm_header .sign_regs_icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btm_header .sign_regs_icon svg{
    fill: var(--white-color);
    font-size: 22px;
}
  


/* search */

.search{
    position: relative;
}
.suggest {
    margin-top: 2px;
    position: absolute;
    background: var(--white-color);
    width: 100%;
    border: 1px solid var(--border-color);
    list-style: none;
}
.suggest li{
    border-bottom: 1px solid var(--border-color);
    padding: 5px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.suggest li span{
    font-size: 14px;
    color: var(--color-heading);

}
.suggest li img{
    width: 30px;
}